body {
    background: blanchedalmond;
    color: #ff3e3e;
    font-family: "Arial Narrow";
}
img {
    background: deepskyblue;
    padding: 20px 10px 30px 5px;
    border: blanchedalmond;
    padding-bottom: 30px;
    padding-top: 10px;
}
div {
background: deepskyblue;
}
p span{
    background: blueviolet;
    color: aliceblue;
}

span {
background: #ff3e3e;
}